.flex-direction-column{
    flex-direction:column;
}

.nav-tabs{
    border: solid 0px !important;
    li{
        cursor: pointer;
            border-color: #dee2e6 #dee2e6 #dee2e6 !important;
            border: solid 1px;
            border-top-color: currentcolor;
            border-right-color: currentcolor;
            border-bottom-color: currentcolor;
            border-left-color: currentcolor;
            border-radius: 5px;
            margin-bottom: 10px !important;
    }
}
.tab-content{
    // overflow: hidden;
    border-color: #dee2e6 #dee2e6 #dee2e6 !important;
    border: solid 1px;
    border-top-color: currentcolor;
    border-right-color: currentcolor;
    border-bottom-color: currentcolor;
    border-left-color: currentcolor;
    border-radius: 5px;
    padding: 0;
    margin: 0;
    .tab-header{
        height: 150px;
        box-shadow: 0px 7px 20px -7px #0000003d;
        padding: 20px;
    }
    .tab-body{
        padding: 20px;
    }
}